extends layout.pug 

block content 

    h2 #{err.status} (page not found)
    h3=err
    p Sorry we couldn't find the page you were looking for
    pre=err.stack
    a.button(href="/books") HOME PAGE